/* variables */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&display=swap");
/* *** */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* menu section */
.menu {
  float: left;
  height: 100vh;
  width: 330px;
  border-right: 1px solid #eee;
}

.menu .menu__logo {
  font-family: "Catamaran";
  padding: 30px 50px;
}

.menu .menu__photoContainer {
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato";
}

.menu .menu__photoContainer .menu__photoContent {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid #f09c00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .menu__photoContainer .menu__photoContent .menu__logoPhotoImg {
  height: 90%;
  width: 90%;
  border-radius: 50%;
}

.menu .menu__photoContainer .menu__nicknameUnderPhoto {
  margin-top: 15px;
}

.menu .menu__photoContainer .menu__addressUnderPhoto {
  margin-top: 5px;
  color: #bbb;
}

.menu .menu__profileStatistics {
  padding: 30px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Lato";
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.menu .menu__profileStatistics .menu__profileStatisticItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .menu__profileStatistics .menu__profileStatisticItem .menu__profileStatisticText {
  font-size: 16px;
}

.menu .menu__profileStatistics .menu__profileStatisticItem .menu__profileStatisticText--smallerText {
  color: #bbb;
  font-size: 12px;
  margin-top: 8px;
}

.menu .menu__menuList {
  padding-top: 30px;
  list-style: none;
  font-family: "Lato";
  font-weight: 600;
}

.menu .menu__menuList .menu__menuListItem {
  padding: 20px;
  color: #bbb;
  padding-left: 70px;
  cursor: pointer;
}

.menu .menu__menuList .menu__menuListItem:hover {
  color: #111;
  border-left: 3px solid red;
  margin-left: -3px;
}

.menu .menu__menuList .menu__menuListItem--active {
  color: #111;
  border-left: 3px solid red;
}

.menu .menu__menuList .menu__menuListItem--active:hover {
  border-left: 3px solid red;
  margin-left: 0px;
}

.menu .menu__bottomOptions {
  height: 150px;
  width: 330px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu .menu__bottomOptions .menu__bottomOptionsItem {
  width: 30%;
  height: 60px;
  background-color: #f3f3f3;
  color: #bbb;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size-adjust: 20px;
  cursor: pointer;
}

.menu .menu__bottomOptions .menu__bottomOptionsItem:hover {
  color: #111;
}

/* profile section */
.profile {
  float: left;
  width: 350px;
  height: 100vh;
  border-right: 1px solid #eee;
  font-family: "Lato";
}

.profile .profile__goBackContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 41px 0 0 30px;
  text-align: left;
  cursor: pointer;
}

.profile .profile__goBackContainer .fa-long-arrow-alt-left {
  color: #bbb;
  font-size-adjust: 18px;
  margin-top: 3px;
}

.profile .profile__goBackContainer .profile__backText {
  margin-left: 10px;
  font-size: 16px;
}

.profile .profile__profileImageContainer {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .profile__profileImageContainer .profile__mainImage {
  border-radius: 12px;
  width: 55%;
}

.profile .profile__mainText {
  padding: 30px 30px 0 30px;
}

.profile .profile__statistics {
  margin: 10px 0 0 30px;
  font-size: 12px;
}

.profile .profile__description {
  padding: 28px 30px;
  color: #bbb;
  font-size: 15px;
}

.profile .profile__favTags {
  padding: 0 30px;
}

.profile .profile__favTagsText {
  color: #bbb;
  font-size: 15px;
  padding: 20px 30px;
}

.profile .profile__favoriteProfiles {
  height: 110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.profile .profile__favoriteProfiles .profile__favoriteProfilesItem {
  height: 60%;
  margin: 0 8px;
  width: calc((100%/4) - 16px);
  border-radius: 7px;
}

.profile .profile__favoriteProfiles .profile__favoriteProfilesItem--first {
  background: url("../img/img3.jpg");
  background-size: cover;
}

.profile .profile__favoriteProfiles .profile__favoriteProfilesItem--second {
  background: url("../img/img4.jpg");
  background-size: cover;
}

.profile .profile__favoriteProfiles .profile__favoriteProfilesItem--third {
  background: url("../img/img5.jpg");
  background-size: cover;
}

.profile .profile__favoriteProfiles .profile__favoriteProfilesItem--fourth {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/img6.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/img6.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  cursor: pointer;
}

/* explore section */
.explore {
  width: calc(100% - 350px - 330px);
  float: left;
}

.explore .explore__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.explore .explore__top .explore__searchbarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  padding: 6px;
  border-radius: 7px;
  color: #bbb;
  background-color: #f3f3f3;
  width: 40%;
}

.explore .explore__top .explore__searchbarContainer .explore__searchbarIcon {
  width: 40px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.explore .explore__top .explore__searchbarContainer .explore__searchbarIcon:hover {
  color: #111;
}

.explore .explore__top .explore__searchbarContainer .explore__searchbar {
  width: calc(100% - 40px);
  background: transparent;
  outline: none;
  border: none;
}

.explore .explore__top .explore__navbarList {
  margin-right: 30px;
}

.explore .explore__top .explore__navbarList .fa-bars {
  margin-left: 20px;
}

.explore .explore__top .explore__navbarList .fa-bars, .explore .explore__top .explore__navbarList .fa-bell {
  color: #bbb;
  cursor: pointer;
}

.explore .explore__top .explore__navbarList .fa-bars:hover, .explore .explore__top .explore__navbarList .fa-bell:hover {
  color: #111;
}
/*# sourceMappingURL=style.css.map */